<!DOCTYPE html>
<html>
{% load static%}
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Neogym</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.css'%}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/index">
            <span>
              Neogym
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item ">
                  <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                </li>
                
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/trainer"> trainers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact"> Contact Us</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="/why"> Why us </a>
                </li>
              </ul>
             
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>


  <!-- trainer section -->

  <section class="trainer_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our Gym Trainers
        </h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 mx-auto">
          <div class="box">
            <div class="name">
              <h5>
                Smirth Jon
              </h5>
            </div>
            <div class="img-box">
              <img src="{%static 'images/t1.jpg' %}" alt="">
            </div>
            <div class="social_box">
              <a href="">
                <img src="{%static 'images/facebook-logo.png' %}" alt="">
              </a>
              <a href="">
                <img src="{%static 'images/twitter.png' %}" alt="">
              </a>
              <a href="">
                <img src="{%static 'images/instagram-logo.png' %}" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mx-auto">
          <div class="box">
            <div class="name">
              <h5>
                Jean Doe
              </h5>
            </div>
            <div class="img-box">
              <img src="{% static 'images/t2.jpg' %}" alt="">
            </div>
           <div class="social_box">
              <a href="">
                <img src="{%static 'images/facebook-logo.png' %}" alt="">
              </a>
              <a href="">
                <img src="{%static 'images/twitter.png' %}" alt="">
              </a>
              <a href="">
                <img src="{%static 'images/instagram-logo.png' %}" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mx-auto">
          <div class="box">
            <div class="name">
              <h5>
                Alex Den
              </h5>
            </div>
            <div class="img-box">
              <img src="{%static 'images/t3.jpg' %}" alt="">
            </div>
            <div class="social_box">
              <a href="">
                <img src="{%static 'images/facebook-logo.png' %}" alt="">
              </a>
              <a href="">
                <img src="{%static 'images/twitter.png' %}" alt="">
              </a>
              <a href="">
                <img src="{%static 'images/instagram-logo.png' %}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end trainer section -->

  <!-- info section -->
 
  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <p>
      &copy; 2020 All Rights Reserved. Design by
      <a href="https://youtube.com/">mohamed samy</a>
    </p>
  </footer>
  <!-- footer section -->

  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>

</body>

</html>